*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
  
    justify-content: center;
    align-items: center;
    min-height: 100vh;  

    background-attachment: fixed;

}
.container{
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.container .card{
    position: relative;
    width: 420px;
    height: 420px;
    background:lightblue;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    
    
}
.container .card .circle{
    height: 50%;
    width: 100%;
    background-color:black;
    clip-path: circle(130px at center 0);
}
.container .card h2{
    color: yellow;
    padding-left: 100px;
    padding-top: 30px;
    padding-left: 120px;
    font-style: italic;

}

.container .card .details .i1{
    font-size: 19px;
    text-align: center;
    padding:0px;
}
.container .card .details .i2{
    font-size: 19px;
    text-align: center;
}
.container .card .details .i3{
    margin-left: 55px;
}
.submit{
    margin-left: 200px;
}
.submit:hover{
    background-color: azure;
    transform: scale(1.5);
}